---
---

// 1. Define your "Plant Bioinformatics" Green
$link-color: #166936; // A standard GitHub/Tech green
$brand-color: #166936; // Only adding this ensures the Logo/Title also turns green!
// $link-color: #91c846; // Alternative: A brighter "Leaf" green

// Optional: Fix the hover state so it doesn't turn purple/blue on hover
$link-color-hover: #91c846;

// 2. Import the actual theme
@import "just-the-docs";
